.cache/
.git/
.vscode/
blueprints/
custom_components/
esphome/
www/
secrets.yaml
.ha_run_lock
esphome/secrets.yaml
*.log
*.db*
*.fault
.storage/
.cloud/acme_account.pem
.cloud/production_auth.json
.cloud/acme_reg.json
.cloud/remote_private.pem
.cloud/remote_fullchain.pem
